$color-main: orange;
$color-second: #1a1a1a;
$color-text: white;

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 1rem;
  font-family: "Segoe UI";
}

@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

html,
body {
  height: -webkit-fill-avaliable;
  height: -moz-fill-avaliable;
  height: fill-avaliable;
}

body {
  background: $color-second;
  color: $color-text;

  &.noscroll {
    overflow: hidden;
  }
}


main {
  @include flex-col-center();
  width: 90vw;
  margin: auto;
}

header {
  height: 7vh;
  width: 100%;
  padding: 0 1vh;
  display: flex;
  align-items: center;
  background-image: url(./assets/img/nekko-arc.png),
    linear-gradient($color-main, $color-main);
  background-position: right, center;
  background-size: 7vh, cover;
  background-repeat: no-repeat;
  box-shadow: 0 2px 2px darken($color-main, $amount: 10%);

  h1 {
    font-size: 2rem;
    letter-spacing: 0.1rem;
  }

  button {
    background: greenyellow;
    color: $color-main;
    text-transform: uppercase;
    padding: 1vh 2.5vh;
  }
}

.project-description {
  margin: 3vh 0;
  position: relative;

  .project-description-circular-bg {
    @include absolute-center();
    height: 100%;
    aspect-ratio: 1/1;
    filter: blur(10px);
    border-radius: 50%;
    background: adjust-color($color-second, $lightness: 2%);
    background-size: cover;
    z-index: -999;
  }

  p {
    opacity: 0;
    font-size: 1.1rem;

    text-align: justify;
    text-align-last: center;
  }

  #project-description-button {
    position: absolute;
  }

  .project-description-button-label {
    @include absolute-center();

    opacity: 1;
    color: $color-text;

    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    text-shadow: 0px 2px black;

    transition: opacity 0.3s;
    animation: bob 1s infinite alternate ease-in-out;

    @keyframes bob {
      from {
        top: 45%;
      }
      to {
        top: 55%;
      }
    }
  }

  #project-description-button {
    appearance: none;
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
  }

  #project-description-button:checked {
    + .project-description-button-label {
      opacity: 0;
    }

    ~ p {
      opacity: 1;
    }
  }
}

.search {
  @include flex-col-center();
  margin-top: 3vh;

  > label {
    font-size: 1.3rem;
    margin-bottom: 1vh;
    color: $color-main;
  }

  input[type="search"] {
    width: 100%;
    font-size: 1.1rem;
    outline: 2px solid $color-text;
    background: lighten($color-second, $amount: 10%);
    color: $color-text;
    padding-left:1%;
  }
}

.search-options {
  display: flex;
  width: 100%;
  margin-top: 1vh;
  gap: 2vh;

  label {
    width: 100%;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
  }

  span {
    font-size: 1.3rem;
    transition: color 0.4s;
  }

  input[type="radio"] {
    display: none;
  }

  input[type="radio"]:checked ~ span {
    color: $color-main;
  }

  input[type="radio"]:checked ~ span:active {
    color: $color-main;
  }
}

#animes {
    margin-top: 6vh;
    width: 100%;

    > h2 {
        color: $color-main;
        margin-bottom: 3vh;
        font-size: 1.4rem;
        text-align: center;
      }

  .card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    border: 0.5vh solid $color-main;
    padding: 5vh 0;
    gap: 10vh;

    .card-body {
      position: relative;
      width: 25vh;

   .checked {
        outline: 0.5vh solid green;
    }


      label {
        @include flex-col-center();
        align-items: stretch;
        text-align: center;
        align-self: center;
        cursor: pointer;
        z-index: 999;



        input[type="checkbox"] {
          appearance: none;
          position: absolute;
          top: 2%;
          right: 2%;
          padding: 2vh;
          border-radius: 50%;

          opacity: 0;
          transition: 0.3s opacity;

          &:checked {
            transform: scale(1);
            border: 3px solid green;
            background: url(./assets/svg/checked.svg), green;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            opacity: 1;
          }
        }
      }

      img {
        display: block;
        max-width: 100%;
        user-select: none;
        pointer-events: none
      }

      p {
        padding: 2% 5%;
        background: $color-main;
        color: white;
        font-weight: bold;
        font-size: 1.1rem;
        user-select: none;
      }
    }
  }
}

footer {
  position: fixed;  
  bottom: 0;
  transform: translate(0, 200%) ;

  width: 100%;
  padding: 0.5vh 5%;
  background: $color-main;
  box-shadow: 0 -2px 2px darken($color-main, $amount: 10%);

  transition: transform 1s ease-out;
  button {
    float: right;
    padding: 1rem;
    
    color: $color-text;
    letter-spacing: 0.15rem;
    font-weight: bold;
    background: $color-second;
    cursor: pointer;

    &:active {
      left: -10px;
      color: $color-main;
      transform: translateY(-2px);
    }
  }
}

.modal {
  display: none;
  height: 100%; width: 100%;
  z-index: 999;
  position: fixed;
  top: 0; left: 0;
  background: $color-second;
  
  animation: 1s modalSlide;

  @keyframes modalSlide {
    from { top: -100%; }
    to {top: 0; }
  }
  
  .modal-wrapper {
    @include flex-col-center();

    > button {
      font-size: 1.5rem;
      padding: 10px;
      background: transparent;
      color: $color-text;
      align-self: flex-end;
    }

    .modal-text {
      text-align: center;
      font-size: 1.1rem;

      span{
        font-weight: bold;
        color: $color-main;
      }

      p {
        margin-top: 3vh;
        font-size: 1.4rem;
      }
      p:last-child{
        margin-top: 1vh;
        font-size: 1.1rem;
      }
    }

    .modal-results{
      margin-top:2vh;
      max-height: 60vh;
      width: 80%;
      margin: auto;
      overflow-y: scroll;

      ul {
        list-style: none;
        background: lighten($color-main, 20%);

        li {
          background: $color-main;
          font-size: 1.1rem;
          margin-top:0.3vh;
          padding: 0.5vh;
        }
      }
      
    }

    .modal-links{
      margin-top: 5vh;
      width: 100%;
      display: flex;
      justify-content:space-around ;

      a {
        font-weight: bold;
        color: $color-text;
        text-decoration: none;
        letter-spacing: 0.1rem;
        padding: 1vh 2vh; 
        background: $color-main;
        border-radius: 10px 10px 0 0;
      }
    }

    
    

  }

}