@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "Segoe UI";
}

html,
body {
  height: -webkit-fill-avaliable;
  height: -moz-fill-avaliable;
  height: fill-avaliable;
}

body {
  background: #1a1a1a;
  color: white;
}
body.noscroll {
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 90vw;
  margin: auto;
  scroll-behavior: smooth;
}

header {
  height: 7vh;
  width: 100%;
  padding: 0 1vh;
  display: flex;
  align-items: center;
  background-image: url(./assets/img/nekko-arc.png), linear-gradient(orange, orange);
  background-position: right, center;
  background-size: 7vh, cover;
  background-repeat: no-repeat;
  box-shadow: 0 2px 2px #cc8400;
}
header h1 {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-family: "Fredoka One";
  user-select: none;
}
header button {
  background: greenyellow;
  color: orange;
  text-transform: uppercase;
  padding: 1vh 2.5vh;
}

.project-description {
  margin: 3vh 0;
  position: relative;
}
.project-description .project-description-circular-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  aspect-ratio: 1/1;
  filter: blur(10px);
  border-radius: 50%;
  background: #1f1f1f;
  background-size: cover;
  z-index: -999;
}
.project-description p {
  opacity: 0;
  font-size: 1.1rem;
  text-align: justify;
  text-align-last: center;
}
.project-description #project-description-button {
  position: absolute;
}
.project-description .project-description-button-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  text-shadow: 0px 2px black;
  transition: opacity 0.3s;
  animation: bob 1s infinite alternate ease-in-out;
}
@keyframes bob {
  from {
    top: 45%;
  }
  to {
    top: 55%;
  }
}
.project-description #project-description-button {
  appearance: none;
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
}
.project-description #project-description-button:checked + .project-description-button-label {
  opacity: 0;
}
.project-description #project-description-button:checked ~ p {
  opacity: 1;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-top: 3vh;
  max-width: 90%;
}
.search > label {
  font-size: 1.3rem;
  margin-bottom: 1vh;
  color: orange;
}
.search input[type=search] {
  width: 100%;
  font-size: 1.1rem;
  outline: 2px solid white;
  background: #343434;
  color: white;
  padding-left: 1%;
}

.search-options {
  display: flex;
  width: 100%;
  margin-top: 1vh;
  gap: 2vh;
}
.search-options label {
  width: 100%;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
}
.search-options span {
  font-size: 1.3rem;
  transition: color 0.4s;
}
.search-options input[type=radio] {
  display: none;
}
.search-options input[type=radio]:checked ~ span {
  color: orange;
}
.search-options input[type=radio]:checked ~ span:active {
  color: orange;
}

#animes {
  margin-top: 6vh;
  width: 100%;
}
#animes > h2 {
  color: orange;
  margin-bottom: 3vh;
  font-size: 1.4rem;
  text-align: center;
}
#animes .card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 0.5vh solid orange;
  padding: 5vh 0;
  gap: 10vh;
}
#animes .card-container .card-body {
  position: relative;
  width: 25vh;
}
#animes .card-container .card-body .checked {
  outline: 0.5vh solid green;
}
#animes .card-container .card-body label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  align-items: stretch;
  text-align: center;
  align-self: center;
  cursor: pointer;
  z-index: 999;
}
#animes .card-container .card-body label input[type=checkbox] {
  appearance: none;
  position: absolute;
  top: 2%;
  right: 2%;
  padding: 2vh;
  border-radius: 50%;
  opacity: 0;
  transition: 0.3s opacity;
}
#animes .card-container .card-body label input[type=checkbox]:checked {
  transform: scale(1);
  border: 3px solid green;
  background: url(./assets/svg/checked.svg), green;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
}
#animes .card-container .card-body img {
  display: block;
  max-width: 100%;
  user-select: none;
  pointer-events: none;
}
#animes .card-container .card-body p {
  padding: 2% 5%;
  background: orange;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  user-select: none;
}

footer {
  position: fixed;
  bottom: 0;
  transform: translate(0, 200%);
  width: 100%;
  padding: 0.5vh 5%;
  background: orange;
  box-shadow: 0 -2px 2px #cc8400;
  transition: transform 1s ease-out;
}
footer button {
  float: right;
  padding: 1rem;
  color: white;
  letter-spacing: 0.15rem;
  font-weight: bold;
  background: #1a1a1a;
  cursor: pointer;
}
footer button:active {
  left: -10px;
  color: orange;
  transform: translateY(-2px);
}

.modal {
  display: none;
  height: 100%;
  width: 100%;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  background: #1a1a1a;
  animation: 1s modalSlide;
}
@keyframes modalSlide {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}
.modal .modal-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.modal .modal-wrapper > button {
  font-size: 1.5rem;
  padding: 10px;
  background: transparent;
  color: white;
  align-self: flex-end;
}
.modal .modal-wrapper .modal-text {
  text-align: center;
  font-size: 1.1rem;
}
.modal .modal-wrapper .modal-text span {
  font-weight: bold;
  color: orange;
}
.modal .modal-wrapper .modal-text p {
  margin-top: 3vh;
  font-size: 1.4rem;
}
.modal .modal-wrapper .modal-text p:last-child {
  margin: auto;
  max-width: 60%;
  margin-top: 5vh;
  font-size: 1.2rem;
}
.modal .modal-wrapper .modal-results {
  margin-top: 2vh;
  max-height: 60vh;
  width: 80%;
  margin: auto;
  overflow-y: scroll;
}
.modal .modal-wrapper .modal-results ul {
  list-style: none;
  background: #ffc966;
}
.modal .modal-wrapper .modal-results ul li {
  background: orange;
  font-size: 1.1rem;
  margin-top: 0.3vh;
  padding: 0.5vh;
}
.modal .modal-wrapper .modal-results::-webkit-scrollbar {
  display: none;
}
.modal .modal-wrapper .modal-links {
  margin-top: 5vh;
  display: flex;
  justify-content: space-around;
  gap: 3vh;
}
.modal .modal-wrapper .modal-links a {
  font-weight: bold;
  color: white;
  text-decoration: none;
  letter-spacing: 0.1rem;
  padding: 1vh 2vh;
  background: orange;
  border-radius: 10px 10px 0 0;
}

.snackbar {
  position: fixed;
  top: 10%;
  max-width: 90%;
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: black;
  text-transform: uppercase;
  background: white;
  z-index: 999;
}
.snackbar.snackError {
  background: #e74858;
  animation: errorBlink 1s alternate infinite;
}
@keyframes errorBlink {
  from {
    background: #e74858;
  }
  to {
    background: #e53648;
  }
}
.snackbar.snackSuccess {
  background: greenyellow;
}

@media (min-width: 768px) {
  * {
    font-size: 1.1rem;
  }
  .search {
    width: 80%;
  }
}
@media (min-width: 992px) {
  * {
    font-size: 1.2rem;
  }
  .project-description {
    max-width: 70%;
  }
  .search {
    width: 70%;
  }
}
@media (min-width: 1200px) {
  * {
    font-size: 1.4rem;
  }
  .search {
    width: 60%;
  }
}

/*# sourceMappingURL=style.css.map */
